<hr>

<h3>O que é um Componente?</h3>
<p>
    Um componente é um bloco de construção que compõe um aplicativo. Em angular um componente é formado por quatro arquivos: nome.component.html, nome.component.css, nome.component.spec.ts e nome.component.ts. A classe que representa um componente em Angular é anotada com o decorator @Component.
</p>
<hr>

<h3>Como criar um Componente?</h3>
<p>
    Com Angular CLI, execute o comando <strong>ng generate component nome-componente</strong> ou <strong>ng g c nome-componente</strong>.
</p>
<hr>