<hr>

<h3>O que é Angular?</h3>
<p>Angular é um framework TypeScript baseado em componentes. Ele é uma ferramenta de desenvolvimento para criar aplicativos de página única eficientes e sofisticados.</p>
<hr>

<h3>O que é TypeScript?</h3>
<p>
    O TypeScript é uma linguagem de software livre desenvolvida pela Microsoft. TypeScript é uma liguagem baseada em JavaScript com sistema de tipagem embutido. "TypeScript é JavaScript com tipagem".
</p>
<hr>

<h3>Como funciona o TypeScript?</h3>
<p>
    O código TypeScript não pode ser interpretado pelo Node.js (interpretador de JavaScript) nem pelo navegaor, pois ambos só entendem JavaScript. Antes de ser executado o codigo fonte escrito em TypeScript é convertido em um código JavaScript, esse processo é chamado de transpilação.
</p>
<hr>

<h3>Tipos em TypeScript</h3>
<ul>
    <li>string (texto)</li>
    <li>number (numero)</li>
    <li>boolean (logico)</li>
    <li>any (qualquer tipo)</li>
    <li>null (nulo)</li>
    <li>undefined (indefinido)</li>
    <li>Array (vetor)</li>
    <li>Object (objeto)</li>
</ul>
<hr>

<h3>Angular CLI</h3>
<p>
    A CLI Angular é uma ferramenta de interface de linha de comando que você usa para inicializar, desenvolver, estruturar e manter aplicativos Angular diretamente de um shell de comando. A instalação é feita através do NPM com o comando <strong>npm install -g @angular/cli</strong>.
</p>
<hr>

<h3>Comandos Angular CLI</h3>
<dl>
    <dt>ng new [nome projeto]</dt>
    <dd>Criar um novo projeto Angular.</dd>
    <dt>ng serve --open</dt>
    <dd>Executar o projeto Angular e abrir automaticamente no navegador.</dd>
    <dt>ng generate component [nome do componente] / ng g c [nome do componente]</dt>
    <dd>Criar um novo componente dentro do componente app.</dd>
</dl>