<!--App Component é o principal componente de um projeto. Ele é criado automaticamente quando criamos um novo projeto pelo Angular CLI.-->

<h1>Angular</h1>
<ul>
  <li>
    <a href="/introduction">
      <h2>Introdução</h2>
    </a>
  </li>
  <li>
    <a href="/component-angular">
      <h2>Componente</h2>
    </a>
  </li>
  <li>
      <a href="/data-binding">
        <h2>Data Binding</h2>
    </a>
  </li>
  <li>
      <a href="/post-simulator">
        <h2>Post Simulator</h2>
    </a>
  </li>
  <li>
      <a href="/in-out">
        <h2>Input and Output</h2>
    </a>
  </li>
  <li>
      <a href="/diretivas">
        <h2>Diretivas</h2>
    </a>
  </li>
  <li>
      <a href="/lista-alunos">
        <h2>Lista de Alunos</h2>
    </a>
  </li>
  <li>
      <a href="/ciclo-de-vida">
        <h2>Ciclo de Vida</h2>
    </a>
  </li>
  <li>
      <a href="/pipes">
        <h2>Pipes</h2>
    </a>
  </li>
  <li>
      <a href="/modulos">
        <h2>Modulos</h2>
    </a>
  </li>
  <li>
      <a href="/landing-page">
        <h2>Landing Page</h2>
    </a>
  </li>
  <li>
      <a href="/template-driven">
        <h2>Template Driven Forms</h2>
    </a>
  </li>
  <li>
      <a href="/data-driven">
        <h2>Data Driven Forms (Reactive Forms)</h2>
    </a>
  </li>
</ul>

<router-outlet>
</router-outlet>