<h1>Comunicação entre componentes</h1>
<p>
    É a forma como utilizamos os recursos do Angular para transmitir dados entre os componentes na aplicação.
</p>
<hr>

<h2>Input</h2>
<p>
    Entrada de dados de um componente pai para um componente filho. Utiliza-se o decorator @Input() para atribuir a uma propriedade do componente a entrada de dados do seu componente pai.
</p>
<hr>

<h2>Output</h2>
<p>
    Saida de dados de um componente filho para um componente pai. Aplica-se o decorator @Output() sobre um objeto do tipo EventEmitter que enviará os dados via evento.
</p>
<hr>

<h2>Exemplo</h2>
<div id="container">
    <h2>Externo</h2>
    <!--{{ nomeExterno }} nomeExterno é um variavel da classe ExternoComponent
    <app-interno [nomeInterno]="nomeExterno"></app-interno>
    Inserindo o valor do componente Externo ao componete Interno-->
    {{ nomeExterno }}
    <app-interno (enviaNome)="recebeNome($event)"></app-interno>
</div>