<h2>Lista de Alunos</h2>
<ul>
    <li *ngFor="let pessoa of lista; let i = index">
        <ul>
            <li>Nome: {{ pessoa.nome }}</li>
            <li>Idade: {{ pessoa.idade }}</li>
            <li>Curso: {{ pessoa.curso }}</li>
        </ul>
        <hr>
    </li>
</ul>
<h3>Adicione um novo aluno:</h3>
<label>
    Nome:
    <input type="text" #nome>
</label><br><br>
<label>
    Idade:
    <input type="number" #idade>
</label><br><br>
<label>
    Curso:
    <input type="text" #curso>
</label><br><br>
<button (click)="adicionarAluno(nome.value, idade.value, curso.value)">Adicionar</button>
