@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css);

input.item {
    margin-bottom: 15px;
}

small.text-danger {
    display: none;
}

.error input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error small.text-danger {
    display: block;
}