<p>
    <strong>Obs</strong>: Antes de executar a aplicação Angular, é necessário executar o json-server. (npm install json-server / json-server --watch server/films.json)
</p>
<p>
    Documentação Json Server: <a href="https://www.npmjs.com/package/json-server">link</a>
</p>
<h2>Filmes</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Ano</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let film of films">
            <td>{{ film.id }}</td>
            <td>{{ film.name }}</td>
            <td>{{ film.category }}</td>
            <td>{{ film.year }}</td>
            <td>
                <button (click)="excluirIten(film.id)">Remover</button>
            </td>
        </tr>
    </tbody>
</table>

<hr>
<h2>Cadastrar Filme</h2>
<form [formGroup]="form" (ngSubmit)="cadastrar()">
    <label for="name">Nome</label><br>
    <input type="text" id="name" formControlName="name"> <br><br>
    <label for="category">Categoria</label><br>
    <input type="text" id="category" formControlName="category"> <br><br>
    <label for="year">Ano</label><br>
    <input type="number" id="year" formControlName="year"> <br><br>
    <button type="submit">Cadastrar</button>
</form>

<hr>
<h2>Modificar Filme</h2>
<form [formGroup]="formEdit" (ngSubmit)="editar()">
    <label for="id">Id</label><br>
    <input type="number" id="id" formControlName="id"> <br><br>
    <label for="name">Nome</label><br>
    <input type="text" id="name" formControlName="name"> <br><br>
    <label for="category">Categoria</label><br>
    <input type="text" id="category" formControlName="category"> <br><br>
    <label for="year">Ano</label><br>
    <input type="number" id="year" formControlName="year"> <br><br>
    <button type="submit">Editar</button>
</form>