<h2>Modulos</h2>
<p>
    Um modulo é um mecanismo que agrupa componentes, diretivas, pipes de forma a combinar com outros módulos para criar um aplicativo. 
</p>
<p>
    Cada modulo tem como objetivo fornecer uma funcionalidade ou recurso espeficifico (Modelo de arquitetura de software).
</p>
<hr>

<h3>@NgModule</h3>
<p>
    <strong>declarations: </strong>componentes, diretivas ou pipes do modulo.
</p>
<p>
    <strong>imports: </strong>importars, recursos de outro modulo.
</p>
<p>
    <strong>exports: </strong>exportar componentes, diretivas ou pipes para outros modulos.
</p>
<p>
    <strong>providers: </strong>adicionar recursos externos no modulo.
</p>
<p>
    <strong>bootstrap: </strong>modulo principal do projeto. Declarado apenas no app.module.ts.
</p>
<hr>

<h3>Como criar um Modulo?</h3>
<p>
    Com Angular CLI, execute o comando <strong>ng generate module nome-module</strong> ou <strong>ng g m nome-module</strong>.
</p>
    
<hr>

<h2>Angular Material</h2>
<p>
    Angular Material é um framework Angular que disponibiliza componentes prontos para usar em aplicativos profissionais. Usamos os componentes do Angular Material importando o module referente aquele componente.
    <a href="https://material.angular.io/">Angular Material</a>
</p>